
    <div id="navBarContent">   
        <div id="navBarContactDetails">
            <div id="navBarContactDetailsContent">

<div style="float:left">
    <a href="$!homelink!$" 
        onMouseOver="changeImages('openbsd', '@!urlTo("media/images/openbsd-over.gif")!@' ); return true;"
        onMouseOut="changeImages('openbsd', '@!urlTo("media/images/openbsd.gif")!@' ); return true;"
        onMouseDown="changeImages('openbsd', '@!urlTo("media/images/openbsd-down.gif")!@' ); return true;"
        onMouseUp="changeImages('openbsd', '@!urlTo("media/images/openbsd-over.gif")!@' ); return true;">
        $!bannerIMG!$
    </a>
</div>
            </div>
        </div>        
        <!-- Navigation Line One -->
        <div id="navBarLineOne"> 
            @!menubar!@ 
        </div>
    </div>

    <div class="clear"></div>

    <div id="navBarContent">
        <!-- Navigation Line Two -->
        <div id="navBarLineTwo"> @!submenu!@ </div>
    </div>
    <div class="clear"></div>
