<!-- _banner -->
<div id="navBar">
    <div id="navBarContent">   
        <a href="$!homelink!$" style="float:right"
            onMouseOver="changeImages('openbsd', '@!urlTo("media/images/openbsd-over.gif")!@' ); return true;"
            onMouseOut="changeImages('openbsd', '@!urlTo("media/images/openbsd.gif")!@' ); return true;"
            onMouseDown="changeImages('openbsd', '@!urlTo("media/images/openbsd-down.gif")!@' ); return true;"
            onMouseUp="changeImages('openbsd', '@!urlTo("media/images/openbsd-over.gif")!@' ); return true;">
            $!bannerIMG!$
        </a>
        <!-- Navigation Line One -->
        <div id="navBarLineOne"> 
            @!blk_menubar!@ 
        </div>
        <div class="clear"></div>
        <!-- Navigation Line Two -->
        <div id="navBarLineTwo"> 
            @!blk_submenu!@ 
        </div>
    </div>
    <div class="clear"></div>
</div>
<!-- !_banner -->