<body bgcolor="#fffacd" onLoad="preloadImages();">
<div id="doc3" class="yui-t2">   
    <div id="hd" role="banner">
        $!tpl_banner!$
    </div>   
    <div id="bd" role="main">   
        <div id="yui-main">   
            <div class="yui-b">
                <div class="yui-g">   
                    $!body!$
                </div>  
            </div>  
        </div>  
        <div class="yui-b">
            <!-- Navigation -->
            @!menu_all!@
        </div>   
    </div>  
    <div id="ft" role="contentinfo">
        $!tpl_footer!$
    </div>   
</div>  
</body>