@charset "utf-8";

@charset "UTF-8";
/* CSS Document */

/***** nav bar *****/

#navBarContactDetailsContent {
	width: 300px;
	margin-top: 13px;
}

/***** Content Coloumn Headers *****/

#columnHdr{
	width: 286px;
	padding-bottom: 43px;
	text-align: left;
	color: #FFFFFF;
}