/* http://www.nomoa.com/bsd - customisations */
body {
	/*
	scrollbar-3dlight-color: #ccdcDD;
	scrollbar-arrow-color: Black;
	scrollbar-base-color: #ffdc7A;
	scrollbar-darkshadow-color: #dcdc66;
	scrollbar-face-color: #ffdccc;
	scrollbar-highlight-color: #dcdcDD;
	scrollbar-shadow-color: #a0dc66;
	scrollbar-3d-light-color : #CCFFFF;
	scrollbar-dark-shadow-color : #dcdc66;
	*/
	background-color: #FFFACD;
	margin-top : 0;
	margin-left : 3px;
	margin-right : 3px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : small;
	text-align: left;
}

h1  { 
    font-family:Verdana, Geneva, Arial, Helv, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 180%; 
    background : #FFFF99;    
    border : thick outset #FFFF99;
    margin-top : 0;
    margin-right:0cm;
    margin-bottom:3.0pt;
    margin-left:0cm;		
    }
h2	{ 
    font-family:Verdana, Geneva, Arial, Helv, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%; 
    margin-top:12.0pt;
    margin-right:0cm;
    margin-bottom:3.0pt;
    margin-left: 0 px;
    background-color : FFCDD2;
	}
	  
h3	{ 
    font-family:Verdana, Geneva, Arial, Helv, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 120%; 
	margin-top:12.0pt;
	margin-right: 20px;
	margin-bottom:3.0pt;
	margin-left: 0 px;
	background-color : #FFE1CD;
}

h4  {
    font-family:Verdana, Geneva, Arial, Helv, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 110%; 
	margin-top:12.0pt;
    background-color: #D2FFCD;
	margin-right: 20px;
	margin-bottom:3.0pt;
}
	  
h5 {
    font-family:Verdana, Geneva, Arial, Helv, Helvetica, sans-serif;
    font-weight: bold;
	margin-top:12.0pt;
	font-size:110%;
    background-color: #EBFFCD;
	margin-right: 20px;
	margin-bottom:3.0pt;
}

H6 {
    font-family:Verdana, Geneva, Arial, Helv, Helvetica, sans-serif;
    font-weight: bold;
	font-size:100%;
    background-color: #FACDFF;
}


p {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-right : 10px;
	margin-left: 5px;
}	

hr           {
	border-color : Aqua;
	height : 1px;
	margin-bottom : 0;
	margin-top : 0;
}
 
ol {
	font-family: Tahoma, Verdana, Helvetica, Arial, "Courier New", "Courier", sans-serif;
	font-size: small;
	list-style-position: inside;
} 

 
li {
	font-family: Tahoma, Verdana, Helvetica, Arial, "Courier New", "Courier", sans-serif;
	font-size: small;
} 

 
ul {
	font-family: Tahoma, Verdana, Helvetica, Arial, "Courier New", "Courier", sans-serif;
	font-size: small;
	list-style-type: circle;
	list-style-position: inside;
} 
/* =============================================================================== */
 /* Tables */
/* =============================================================================== */
 table {
 	margin-left: 0px;
 }
 td {
	vertical-align: text-top;
 }

 /* Anchors */
a {
	color : #4400FF;
	font-weight : bold;
	letter-spacing : 1pt;
	text-decoration : none;
	font : small;
}
a:hover {
    color : #C300FF;
    font-weight : bold;	
    letter-spacing : 1pt;	
    text-decoration : none;
}

a:visited {
    color : #FF00BB;
    font-weight : bold;	
    letter-spacing : 1pt;	
    text-decoration : none;
}

a:visited:hover {
    color : #00BBFF;
    font-weight : bold;	
    letter-spacing : 1pt;	
    text-decoration : none;
}

/* ------- rss feed -------- */
a.rss {
	height: 32px;
	padding-left: 24px;
	padding-bottom: 5px;
	background-image: url(../images/24x24/rss.png);
	background-repeat: no-repeat; 
}
a.rss:hover {
	height: 32px;
	padding-left: 24px;
	padding-bottom: 5px;
	background-image: url(../images/24x24/rss_blue.png);
	background-repeat: no-repeat; 
}

a.rss:visited {
	height: 32px;
	padding-left: 24px;
	padding-bottom: 5px;
	background-image: url(../images/24x24/rss_green.png);
	background-repeat: no-repeat; 
}

a.rss:visited:hover {
	height: 32px;
	padding-left: 24px;
	padding-bottom: 5px;
	background-image: url(../images/24x24/rss.png);
	background-repeat: no-repeat; 
}

.toc {
	padding: 10px 5px 10px 15px;
	border-style: solid dotted solid dotted;
	border-width: 4px 2px;
	text-align: left;
	float: right;
	width: 300px;
	background-color : #EBFFCD;
}

.toc p {
	font-weight: strong;
	text-align: left;
}

.toc ol {
	list-style-type: decimal;
}
.toc ol ol {
	list-style-type: lower-roman;
	margin:1.5em 0 1em 5%; 
	padding:0; 
	background:#fff; 
	float:left; 
	display:block;
	width:95%;
}

.toc ol ol ol {
	list-style-type: lower-alpha;
}

.toc ul {
	list-style-type: disc;
	margin:1.5em 0 1em 5%;
	padding:0;
	/* background:#fff; */
	float:left;
	display:block;
	width:95%;
}
.toc ul ul, .toc ol ul {
	list-style-type: circle;
	margin:1.5em 0 1em 5%; 
	padding:0; 
	/*background:#fff; */
	float:left; 
	display:block;
	width:95%;
}
.toc ol ul ul, .toc ol ol ul, .toc ul ul ul, .toc ul ol ul {
	list-style-type: square;
}
.toc ol li {
	clear:left;
	border-bottom:dashed 1px #aaa;
	height:1.05em;
	margin-top:10px;
	position:relative;
}
.toc ol a, .toc ol span {
	background:#fff;
	padding:0 3px 0 0;
	/*float:left;*/
	position:absolute;
	text-decoration:none;
}
.toc ol a {
	padding:0 0 0 3px;
	right:0;
}


.image {
	text-align: center;
}

/** 
## Blog Post Styling
**/

.post {
}
.post .posthead {
}
/* H1.posttitle { */
DIV.post DIV.posthead H1 { 
    background : none;    
    border : none;	
	font-family:Verdana, Geneva, Arial, Helv, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%; 
    margin-top:12.0pt;
    margin-right:0cm;
    margin-bottom:3.0pt;
    margin-left: 0 px;
    background-color : FFCDD2;
	}
DIV.post DIV.posthead H2 {
    font-family:Verdana, Geneva, Arial, Helv, Helvetica, sans-serif;
    font-weight: bold;
	font-size:100%;
    background-color: #FACDFF;
}

DIV.archive H1 { 
    background : none;    
    border : none;	
	font-family:Verdana, Geneva, Arial, Helv, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%; 
    margin-top:12.0pt;
    margin-right:0cm;
    margin-bottom:3.0pt;
    margin-left: 0 px;
    background-color : FFCDD2;
	}
